* {
    margin: 0;
    padding: 0;
}

#main-header {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-bottom: 2px solid #6a6969;
}

aside {
    margin: 5px;
    padding: 5px;
    border-right: 1px solid #ccc; 
}

#today, #forecast{
    background-color: white;
    border: 0px solid #6a6969;
    padding: 5px;
    border: 2px solid #6a6969;
    margin: 10px;

}

#forecast-cards {
    margin-top: 10px;
}