#main-header {
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-bottom: 3px solid #6a6969;
}


h1 {
    color: white;
}

form {
    padding: 25px;
}

input {
    padding-bottom: 10px; 
}


#today {
    background-color: white;
    border: 3px solid #6a6969;
    padding: 25px; 
}


#forecast{
    padding: 10px; 
    border: 3px solid #6a6969;
}
